body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
}

p.description {
    margin-top: 0;
    margin-bottom: 20px;
    color: blueviolet;
    font-size: 1em;
    font-weight: 900;
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f0f0f0;    
}

#chat-container {
    max-height: 400px;
    max-width: 550px;
    width: 100%;
    overflow-y: auto;
    border-radius: 5px;
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
}

.button-container {
    display: flex; /* new style to align buttons horizontally */
    justify-content: center;
    margin-bottom: 10px;
}

input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.left-margin {
    margin-left: 1em;
}

.right-margin {
    margin-right: 1em;
}

.blue {
    background-color: #007BFF;
}

.blue:hover {
    background-color: #0056b3;
}

.orange {
    background-color: #FF8C00;
}

.orange:hover {
    background-color: #b36b00;
}

button {
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    flex-grow: 1;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: antiquewhite;
}

p.error {
    background-color: rgb(255, 128, 128);
}

p.success {
    background-color: rgb(192, 255, 192);
}
